/.idea/
/client/.idea/
/client/clientFiles/
/client/cmake-build-debug/
/client/cmake-build-debug-cygwin/
/server/.idea/
/server/serverFiles/
/server/cmake-build-debug/
/server/cmake-build-debug-cygwin/
